@charset "UTF-8";

@font-face {
  font-family: "eosdac-iconfont-v1-9";
  src:url("fonts/eosdac-iconfont-v1-9.eot");
  src:url("fonts/eosdac-iconfont-v1-9.eot?#iefix") format("embedded-opentype"),
    url("fonts/eosdac-iconfont-v1-9.woff") format("woff"),
    url("fonts/eosdac-iconfont-v1-9.ttf") format("truetype"),
    url("fonts/eosdac-iconfont-v1-9.svg#eosdac-iconfont-v1-9") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "eosdac-iconfont-v1-9" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "eosdac-iconfont-v1-9" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-type-1:before {
  content: "\61";
}
.icon-type-6:before {
  content: "\62";
}
.icon-ui-11:before {
  content: "\63";
}
.icon-ui-1:before {
  content: "\64";
}
.icon-ui-8:before {
  content: "\65";
}
.icon-menu-5:before {
  content: "\66";
}
.icon-dac-balance:before {
  content: "\67";
}
.icon-menu-3:before {
  content: "\68";
}
.icon-type-2:before {
  content: "\69";
}
.icon-menu-4:before {
  content: "\6a";
}
.icon-menu-7:before {
  content: "\6b";
}
.icon-type-3:before {
  content: "\6c";
}
.icon-topmenu-5:before {
  content: "\6d";
}
.icon-topmenu-4:before {
  content: "\6e";
}
.icon-topmenu-1:before {
  content: "\6f";
}
.icon-logo:before {
  content: "\70";
}
.icon-logo-footer-explorer:before {
  content: "\71";
}
.icon-topmenu-2:before {
  content: "\72";
}
.icon-ui-5:before {
  content: "\73";
}
.icon-plus:before {
  content: "\74";
}
.icon-topmenu-3:before {
  content: "\75";
}
.icon-topmenu-6:before {
  content: "\76";
}
.icon-top-signet-explorer:before {
  content: "\77";
}
.icon-top-signet-toolkit:before {
  content: "\78";
}
.icon-ui-6:before {
  content: "\79";
}
.icon-menu-6:before {
  content: "\7a";
}
.icon-ui-3:before {
  content: "\41";
}
.icon-register-1:before {
  content: "\43";
}
.icon-register-2:before {
  content: "\44";
}
.icon-type-8:before {
  content: "\45";
}
.icon-ui-9:before {
  content: "\46";
}
.icon-menu-1:before {
  content: "\47";
}
.icon-ui-7:before {
  content: "\48";
}
.icon-ui-10:before {
  content: "\49";
}
.icon-type-4:before {
  content: "\4a";
}
.icon-register-3:before {
  content: "\4b";
}
.icon-type-11:before {
  content: "\4c";
}
.icon-type-5:before {
  content: "\4d";
}
.icon-type-10:before {
  content: "\4e";
}
.icon-transfer-out:before {
  content: "\4f";
}
.icon-circulating:before {
  content: "\50";
}
.icon-transfers:before {
  content: "\42";
}
.icon-social-youtube-com:before {
  content: "\51";
}
.icon-social-linkedin-com:before {
  content: "\52";
}
.icon-social-ask-fm:before {
  content: "\53";
}
.icon-social-tumblr-com:before {
  content: "\54";
}
.icon-social-weibo-com:before {
  content: "\55";
}
.icon-social-qzoneqq-com:before {
  content: "\56";
}
.icon-social-flickr-com:before {
  content: "\57";
}
.icon-social-instagram-com:before {
  content: "\58";
}
.icon-social-facebook-com:before {
  content: "\59";
}
.icon-social-plusgoogle-com:before {
  content: "\5a";
}
.icon-social-meetup-com:before {
  content: "\30";
}
.icon-social-ok-ru:before {
  content: "\31";
}
.icon-social-reddit-com:before {
  content: "\32";
}
.icon-social-twitter-com:before {
  content: "\33";
}
.icon-social-vk-com:before {
  content: "\34";
}
.icon-social-pinterest-com:before {
  content: "\35";
}
.icon-ui-19:before {
  content: "\36";
}
.icon-menu-8:before {
  content: "\37";
}
.icon-ui-12:before {
  content: "\38";
}
.icon-ui-13:before {
  content: "\39";
}
.icon-ui-14:before {
  content: "\21";
}
.icon-ui-15:before {
  content: "\23";
}
.icon-ui-16:before {
  content: "\24";
}
.icon-ui-17:before {
  content: "\25";
}
.icon-ui-18:before {
  content: "\26";
}
.icon-menu-9:before {
  content: "\22";
}
.icon-role-1:before {
  content: "\28";
}
.icon-menu-11:before {
  content: "\27";
}
.icon-social-behance-net:before {
  content: "\2b";
}
.icon-social-dribbble-com:before {
  content: "\2c";
}
.icon-social-github-com:before {
  content: "\2d";
}
.icon-social-general:before {
  content: "\2e";
}
.icon-social-medium-com:before {
  content: "\2f";
}
.icon-social-steemit-com:before {
  content: "\3a";
}
.icon-ui-20:before {
  content: "\3b";
}
.icon-role-3:before {
  content: "\2a";
}
.icon-social-ono-chat:before {
  content: "\3c";
}
.icon-menu-10:before {
  content: "\29";
}
.icon-menu-12:before {
  content: "\3d";
}
.icon-role-4:before {
  content: "\3e";
}
.icon-role-2:before {
  content: "\3f";
}
.icon-social-discord-com:before {
  content: "\40";
}
.icon-ui-22:before {
  content: "\5b";
}
.icon-ui-21:before {
  content: "\5d";
}
.icon-action-codechange:before {
  content: "\5e";
}
.icon-action-configupdate:before {
  content: "\5f";
}
.icon-action-newmemterms:before {
  content: "\60";
}
.icon-action-transfer:before {
  content: "\7b";
}
.icon-action-default:before {
  content: "\7c";
}
