<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (htmlWebpackPlugin.options.ctx.mode.cordova) { %>, viewport-fit=cover<% } %>">
    <meta name="image" content="./extensions/branding/images/social_share_preview/mockup-social-media-client-facebook-1200x630.png">
    <meta name="author" content="eosdac.io" />

    <!-- Twitter -->
    <meta name="twitter:card" content="player" />
    <meta name="twitter:player:width" content="360" />
    <meta name="twitter:player:height" content="200" />
    <meta name="twitter:image" content="./extensions/branding/images/social_share_preview/mockup-social-media-client-twitter-1024x512.png">

    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:image" content="./extensions/branding/images/social_share_preview/mockup-social-media-client-facebook-1200x630.png">
    <meta name="og:type" content="website">

    <link rel="icon" type="image/png" sizes="32x32" href="./extensions/branding/images/icons/favicon-32x32.png?v=2">
    <link rel="icon" type="image/png" sizes="16x16" href="./extensions/branding/images/icons/favicon-16x16.png?v=2">
    <link rel="icon" href="./extensions/branding/images/social_share_preview/mockup-social-media-client-facebook-1200x630.png" sizes="1200x630" />

  </head>
  <body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
  </body>
</html>
