<!DOCTYPE html>
<html>
  <head>
    <title>eosDac Member Client</title>

    <meta charset="utf-8">
    <meta name="description" content="Come to the eosDAC Member Client to register and interact with the DAC-enabling Decentralized Autonomous Community.">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (htmlWebpackPlugin.options.ctx.mode.cordova) { %>, viewport-fit=cover<% } %>">

    <meta name="image" content="extensions/branding/images/social_share_preview/mockup-social-media-client-facebook-1200x630.png">
    <meta name="author" content="eosdac.io" />
    <meta name="keywords" content="eosdac, member, eos, dac, token, custodian, blockchain, crypto, decentralized, autonomous" />

    <!-- Schema.org for Google -->
    <meta itemprop="name" content="eosDac Member Client">
    <meta itemprop="description" content="Come to the eosDAC Member Client to register and interact with the DAC-enabling Decentralized Autonomous Community.">
    <meta itemprop="image" content="extensions/branding/images/social_share_preview/mockup-social-media-client-facebook-1200x630.png">

    <!-- Twitter -->
    <meta name="twitter:title" content="eosDAC Member Client">
    <meta name="twitter:description" content="Come to the eosDAC Member Client to register and interact with the DAC-enabling Decentralized Autonomous Community.">
    <meta name="twitter:image:src" content="extensions/branding/images/social_share_preview/mockup-social-media-client-twitter-1024x512.png">
    <meta name="twitter:player" content="https://www.youtube.com/watch?time_continue=1&v=wdPkG81lb4Y">
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content="eosDAC Member Client">
    <meta name="og:description" content="Come to the eosDAC Member Client to register and interact with the DAC-enabling Decentralized Autonomous Community.">
    <meta name="og:image" content="extensions/branding/images/social_share_preview/mockup-social-media-client-facebook-1200x630.png">
    <meta name="og:type" content="website">

    <link rel="icon" type="image/png" sizes="32x32" href="extensions/branding/images/icons/favicon-32x32.png?v=2">
    <link rel="icon" type="image/png" sizes="16x16" href="extensions/branding/images/favicon-16x16.png?v=2">
    <link rel="icon" href="extensions/branding/images/social_share_preview/mockup-social-media-client-facebook-1200x630.png" sizes="1200x630" />

  </head>
  <body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
  </body>
</html>
